<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: #EDF5E1;">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <img src="{% static 'images/logo_3_cor.png' %}" class="rounded mx-auto d-block" alt="logo">

                    <hr>
                    <h4 align="center">Login <img src="{% static 'icons/sign-in.svg' %}" class="img-fluid" alt="icone"></h4>

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <hr>
                        <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

</body>

</html>
