{% load static %}

<form method="GET">
    <input type="hidden" name="opcao_data" value="{{ request.GET.opcao_data }}">
    <input type="hidden" name="d1" value="{{ request.GET.d1 }}">
    <input type="hidden" name="d2" value="{{ request.GET.d2 }}">

    <input type="hidden" name="opcao_valor" value="{{ request.GET.opcao_valor }}">
    <input type="hidden" min="0" step="0.01" name="valor1" value="{{ request.GET.valor1 }}">
    <input type="hidden" min="0" step="0.01" name="valor2" value="{{ request.GET.valor2 }}">

    <input type="hidden" min="0" name="n_carrinho" value="{{ request.GET.n_carrinho }}">
    <input type="hidden" name="nome_empresa" value="{{ request.GET.nome_empresa }}">

    <div class="btn-group" role="group" aria-label="Imprimir Relatorios">
        <button class="btn btn-sm btn-outline-info" type="submit" name="imprimir" value="imprimir_carrinho"><img src="{% static 'icons/print.svg' %}" class="img-fluid" alt="icone"> Exportar
            Relatorio</button>
        <button class="btn btn-sm btn-outline-info" type="submit" name="imprimir" value="imprimir_car_prod"><img src="{% static 'icons/print.svg' %}" class="img-fluid" alt="icone"> Exportar
            Relatorio Completo</button>
    </div>
</form>
