{% extends 'estoque/base.html' %}

{% block corpo %}

<h1>Produtos</h1>

<hr>

<form class="form-group" method="GET" action="{% url 'estoque:listar_produtos' %}">
    {% include 'estoque/pesquisa/precos.html' %}

    <div class="form-row align-items-center">
        <div class="form-group col">
            <input class="form-control form-control-sm" type="text" placeholder="Nome/Cod" aria-label="Search" name="q">
        </div>
        <div class="form-group col">
            <button class="btn btn-outline-primary btn-sm" type="submit">Pesquisar</button>
        </div>
    </div>
</form>

{% if request.user.is_superuser %}
<a href="{% url 'estoque:cadastrar_produto' %}" class="btn btn-outline-success btn-block btn-sm">Cadastar Produto</a>
{% endif %}

<hr>

<h6>
    Resultado da busca

    {% if request.GET.q %}
    | Nome: {{ request.GET.q }}
    {% else %}
    | Nome: Tudo
    {% endif %}

    {% include 'estoque/pesquisa/pesq_preco.html' %}
</h6>


<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Cod</th>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for prod in produto_list %}
        <tr>
            <td>
                <a href="{% url 'estoque:detalhes_produto' prod.id %}">{{ prod.codigo }}</a>
            </td>
            <td>
                <a href="{% url 'estoque:detalhes_produto' prod.id %}">{{ prod.nome }}</a>
            </td>
            <td>
                {{ prod.valor }}
            </td>
            <td>
                {% comment %}
                <a href="{% url 'estoque:acrescentar_estoque' prod.id %}"
                    class="btn btn-outline-primary btn-sm">Adicionar</a>
                <a href="{% url 'estoque:realizar_venda' prod.id %}" class="btn btn-outline-primary btn-sm">Vender</a>
                {% endcomment %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan=4>
                <h4>Nenhum resultado encontrado.</h4>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<ul class="pagination float-right">
    <li class="page-item">
        <span class="page-link">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
    </li>
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link"
            href="?opcao_valor={{ request.GET.opcao_valor }}&valor1={{ request.GET.valor1 }}&valor2={{ request.GET.valor2 }}&q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">Anterior</a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Anterior</span></li>
    {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link"
            href="?opcao_valor={{ request.GET.opcao_valor }}&valor1={{ request.GET.valor1 }}&valor2={{ request.GET.valor2 }}&q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">Proxima</a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Proxima</span></li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}
