{% extends 'estoque/base.html' %}
{% load crispy_forms_tags %}

{% block corpo %}

<div class="jumbotron">
    <h1>Atualizar estoque | <a href="{% url 'estoque:detalhes_produto' produto.id %}">{{ produto.nome }}</a></h1>

    {% if acrescentar %}
    <h4>Acrescentar quantidade</h4>
    {% elif vender %}
    <h4>Vender Produto</h4>
    {% endif %}

    <hr>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <hr>
        <input type="submit" value="Salvar" class="btn btn-success btn-block">
    </form>
</div>
{% endblock %}
