{% extends 'estoque/base.html' %}
{% load crispy_forms_tags %}

{% block corpo %}

<div class="jumbotron">
{% if request.user.is_superuser %}

    {% if not filial_form.instance.pk %}
    <h1>Cadastrar Filial</h1>
    {% else %}
    <h1>Atualizar Filial</h1>
    {% endif %}

    <hr>

    <form method="POST">
        {% csrf_token %}
        {{ usuario_form|crispy }}
        {{ filial_form|crispy }}
        <hr>
        <input type="submit" value="Salvar" class="btn btn-success btn-block">
    </form>

{% else %}
<h3>Você não possui permissão para concluir esta ação.</h3>
<hr>
<a href="{% url 'estoque:avisos' %}" class="btn btn-block btn-primary">Retornar</a>

{% endif %}
</div>

{% endblock %}
