{% extends 'estoque/base.html' %}
{% load crispy_forms_tags %}

{% block corpo %}

{% if request.user.is_superuser %}
<div class="jumbotron">
    {% if registrado %}
    <h1>Registrado com sucesso.</h1>
    {% else %}
    <h1>Cadastrar Filial</h1>

    <hr>

    <form method="POST">
        {% csrf_token %}
        {{ usuario_form|crispy }}
        {{ filial_form|crispy }}
        <hr>
        <input type="submit" value="Salvar" class="btn btn-success btn-block">
    </form>
</div>
{% endif %}

{% else %}
<h3>Você não possui permissão para concluir esta ação.</h3>
<hr>
<a href="{% url 'estoque:avisos' %}" class="btn btn-block btn-primary">Retornar</a>

{% endif %}

{% endblock %}
