{% extends "estoque/base.html" %}

{% block corpo %}


<h1>Detalhes do Produto: {{ produto.nome }}</h1>

<hr>

<div class="row">
    {% if request.user.is_superuser %}
    <div class="col-lg">
        <a href="{% url 'estoque:alterar_produto' produto.pk %}"
            class="btn btn-sm btn-outline-primary btn-block">Atualizar
            Produto</a>
    </div>

    <div class="col-lg">
        <a href="{% url 'estoque:acrescentar_estoque_central' produto.pk %}"
            class="btn btn-sm btn-outline-primary btn-block">Acrescentar estoque</a>
    </div>
    {% else %}
    <div class="col-lg">
        <a href="{% url 'estoque:filial_vender' produto.pk %}" class="btn btn-sm btn-outline-primary btn-block">Realizar
            Venda</a>
    </div>

    <div class="col-lg">
        <a href="{% url 'estoque:filial_pedido' produto.pk %}" class="btn btn-sm btn-outline-primary btn-block">Fazer
            Pedido</a>
    </div>
    {% endif %}

    <div class="col-lg">
        <a href="{% url 'estoque:alterar_estoque' produto.pk %}"
            class="btn btn-sm btn-outline-primary btn-block">Atualizar
            Estoque</a>
    </div>
</div>


{% comment %}
<br>

<form method="GET" action="{% url 'estoque:relatorio_produto' produto.pk %}">
    {% include 'estoque/pesquisa/precos.html' %}
    {% include 'estoque/pesquisa/datas.html' %}

    <div class="form-row align-items-center">
        <div class="form-group col-md-auto">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="opcao" id="radioop1" value="venda" checked>
                <label class="form-check-label" for="radioop1">Venda</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="opcao" id="radioop2" value="acrescimo">
                <label class="form-check-label" for="radioop2">Acrescimo</label>
            </div>
            <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
        </div>
    </div>
</form>
{% endcomment %}
<hr>

<table class="table table-striped table-bordered">
    <tr>
        <td>Codigo</td>
        <td>{{ produto.codigo }}</td>
    </tr>
    <tr>
        <td>Nome</td>
        <td>{{ produto.nome }}</td>
    </tr>
    <tr>
        <td>Preço</td>
        <td>{{ produto.valor }}</td>
    </tr>

    <tr>
        <td colspan="2">
            <strong>
                {% if estoque.quantidade > 0 %}
                Disponível no estoque
                {% else %}
                Produto não disponivel no estoque
                {% endif %}
            </strong>
        </td>
    </tr>

    {% if estoque %}
    <tr>
        <td>Quantidade</td>
        <td>{{ estoque.quantidade }}</td>
    </tr>
    <tr>
        <td>Baixo Estoque</td>
        <td>{{ estoque.baixo_estoque }}</td>
    </tr>
    <tr>
        <td>Alto Estoque</td>
        <td>{{ estoque.alto_estoque }}</td>
    </tr>
    {% endif %}

</table>

{% endblock %}
