{% extends 'estoque/base.html' %}

{% block corpo %}

<h1>Estatísticas</h1>

<hr>
{# action="{% url 'estoque:listar_produtos' %}" #}
<form class="form-group" method="GET">
    <div class="form-row align-items-center">

        <div class="form-group col-auto">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Mês</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01" name="mes">
                    <option selected value="0">Todos</option>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
        </div>


        <div class="form-group col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="menos_vendidos" name="menos_vendidos">
                <label class="form-check-label" for="inlineCheckbox1">Menos Vendidos</label>
            </div>

            <button class="btn btn-outline-primary btn-sm" type="submit">Pesquisar</button>
        </div>
    </div>
</form>

<hr>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                {% if request.user.is_superuser %}<th scope="col">Empresa</th>{% endif %}
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                {% if request.user.is_superuser %}
                <td>
                    {{ venda.nome_empresa }}
                </td>
                {% endif %}
                <td>
                    <a href="{% url 'estoque:detalhes_produto' venda.id_prod %}">{{ venda.nome_prod }}</a>
                </td>
                <td>
                    {{ venda.qtd_vendida }}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan=5>
                    <h4>Nenhum resultado encontrado.</h4>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if vendas.has_other_pages %}

<ul class="pagination float-right">
    <li class="page-item">
        <span class="page-link">{{ vendas.number }}/{{ vendas.paginator.num_pages }}</span>
    </li>

    {% if vendas.has_previous %}
    <li class="page-item"><a class="page-link"
            href="?mes={{ request.GET.mes }}&menos_vendidos={{ request.GET.menos_vendidos }}&page={{ vendas.previous_page_number }}">Anterior</a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Anterior</span></li>
    {% endif %}

    {% if vendas.has_next %}
    <li class="page-item"><a class="page-link"
            href="?mes={{ request.GET.mes }}&menos_vendidos={{ request.GET.menos_vendidos }}&page={{ vendas.next_page_number }}">Proxima</a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Proxima</span></li>
    {% endif %}
</ul>

{% endif %}

{% endblock %}
