{% extends 'estoque/base.html' %}
{% load static %}
{% block corpo %}

{% if request.user.is_superuser %}

<h1>Filiais</h1>

<hr>

<form class="form-group" method="GET" action="{% url 'estoque:listar_filiais' %}">
    <div class="form-row align-items-center">
        <div class="form-group col">
            <input class="form-control form-control-sm" type="text" placeholder="Usuário" aria-label="Search"
                name="usuario">
        </div>
        <div class="form-group col">
            <input class="form-control form-control-sm" type="text" placeholder="Email" aria-label="Search"
                name="email">
        </div>
        <div class="form-group col">
            <input class="form-control form-control-sm" type="text" placeholder="Endereço" aria-label="Search"
                name="endereco">
        </div>
        <div class="form-group col">
            <button class="btn btn-outline-primary btn-sm" type="submit">Pesquisar <img src="{% static 'icons/search.svg' %}" class="img-fluid" alt="icone"></button>
        </div>
    </div>
</form>

<a href="{% url 'estoque:cadastrar_filial' %}" class="btn btn-outline-success btn-block btn-sm">Cadastrar Filial</a>

<hr>

<strong>
    Resultado da busca

    {% if request.GET.usuario %}
    | Nome: {{ request.GET.usuario }}
    {% else %}
    | Nome: Tudo
    {% endif %}

    {% if request.GET.email %}
    | Email: {{ request.GET.email }}
    {% else %}
    | Email: Tudo
    {% endif %}

    {% if request.GET.endereco %}
    | Endereco: {{ request.GET.endereco }}
    {% else %}
    | Endereco: Tudo
    {% endif %}
</strong>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Email</th>
                <th scope="col">Endereço</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for filial in filiais %}
            <tr>
                <td>
                    {{ filial.usuario.username }}
                </td>
                <td>
                    {{ filial.usuario.email }}
                </td>
                <td>
                    {{ filial.endereco }}
                </td>
                <td>
                    <a href="{% url 'estoque:atualizar_filial' filial.pk %}">Atualizar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan=4>
                    <h4>Nenhum resultado encontrado.</h4>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if filiais.has_other_pages %}

<ul class="pagination float-right">
    <li class="page-item">
        <span class="page-link">{{ filiais.number }}/{{ filiais.paginator.num_pages }}</span>
    </li>

    {% if filiais.has_previous %}
    <li class="page-item"><a class="page-link"
            href="?usuario={{ request.GET.usuario }}&email={{ request.GET.email }}&endereco={{ request.GET.endereco }}&page={{ filiais.previous_page_number }}">Anterior</a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Anterior</span></li>
    {% endif %}

    {% if filiais.has_next %}
    <li class="page-item"><a class="page-link"
            href="?usuario={{ request.GET.usuario }}&email={{ request.GET.email }}&endereco={{ request.GET.endereco }}&page={{ filiais.next_page_number }}">Proxima</a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Proxima</span></li>
    {% endif %}

</ul>
{% endif %}

{% else %}
<h3>Você não possui permissão para concluir esta ação.</h3>
<hr>
<a href="{% url 'estoque:avisos' %}" class="btn btn-block btn-primary">Retornar</a>

{% endif %}

{% endblock %}
